
.jumbotron {
    background-image: url(../images/IMG_1388.jpg);
  }

/* Choreography sections */

/* Displaying tightr choreography information for large screens */

@media (min-width: 1200px) { 
    .bottom_photo {
        width: 25%;
    }
    
    .choreography_container {
        width: 65%;
    }
    
    .video_width {
        width: 75%;
    }
    
    .paragraph_text {
        width: 75%;
    }
 }


/* Supported  */

.row ul {
    list-style-type: none;
}

li {
    padding: 0.3rem 0;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    color: black;
    text-decoration: none;
}