
.jumbotron {
    background-image: url(../images/IMG_1388.jpg);
  }

/* Choreography sections */

.bottom_photo {
    width: 25%;
}

.choreography_container {
    width: 65%;
}

.video_width {
    width: 75%;
}

.paragraph_text {
    width: 75%;
}

/* Supported  */

.row ul {
    list-style-type: none;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    color: black;
    text-decoration: none;
}